.img-yy {
    max-width: 580px;
}
.img-ju {
    max-width: 287px;
    padding: 10px;
}
.img-mas{
    max-width: 348px;
}
.thumbnail img {
    width: 100%;
}
.thumbnail .caption-full {
    padding: 9px;
}
.pad-ab {
    padding-left: 25px;
}
.thumbnail {
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
}
.th-pad {
    padding: 15px;
}