.img-ju {
    padding: 10px;
}
.thumbnail img {
    width: 100%;
}
.thumbnail .caption-full {
    padding: 9px;
}
.pad-ab {
    padding-left: 25px;
}
.thumbnail {
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
}
.th-pad {
    padding: 15px;
}
img {
    width: 100%;
    height: auto;
}